.br{display: none;}
.en{display: inline;}
.menu .primary .lang-br{cursor:pointer;}
.menu .primary .lang-br:hover{color: #00a4e3;}
.robust-slide .back-texto.en{right:47px;}
.cross-slide .back-texto.en{right:47px;}
.premios .back-texto.en{right:47px;}
.tour_interno_container{cursor: url('../img/large/cursor_click_en.png') 60 36, move;}
.tour_interno_container:active{cursor: url('../img/large/cursor_drag_en.png') 60 36, move;}



.premios .premio-jornal-carro .texto {top:0%;}
.premios .container {height: 330px;}
.premios .container .separation-bar {top:320px;}

@media screen and (min-width: 1050px) and (max-width: 1450px){
	.premios .container {height: 435px;}
	.premios .container .separation-bar {top:425px;}
	.premios .container .texto {top:10%;}
	.premios .container.premio-jornal-carro .texto {top:0%;}
}

@media screen and (max-width: 1050px){
	.premios .container {height: 410px;}
	.premios .container .separation-bar {top:400px;}
	.premios .container .texto {top:15%;}
	.premios .container.premio-jornal-carro .texto {top:2%;}
}

@media only screen and (orientation:portrait) and (max-device-width: 750px){
	.versoes .mobile-arrow-text.left-mobile.en{top:60px;}
	.versoes .mobile-arrow-text.right-mobile.en{right: 60px;top:40px;}
	.tour_mobile .mobile-arrow-text.right-mobile{right:60px;top:210px;}
	.tour_mobile .mobile-arrow-text.left-mobile{top:225px;}

	.premios .sub-container{height:2250px;}

	.premios .sub-title{
		width: 800px;
		left:90px;
	}
	.premios .separation-bar{
		top:300px;
	}
	.premios .container.premio-jornal-carro .texto {top:10%;line-height: 28px;}

	.premios .container {height: 750px;}
	.premios .container .separation-bar {top:740px;}
	.premios .super-container{top:300px;}
}

@media only screen and (orientation:landscape) and (max-device-width: 750px){
	.premios .container {height: 400px;}
	.premios .container .separation-bar {top:390px;}
	.premios .container.premio-jornal-carro .texto .corpo{top:120px;}
	.premios .container.premio-jornal-carro .texto .source{top:50px;}
}

@media screen and (max-device-width: 750px){
	.premios_button.en{
		display: none;
	}
	.menu .item .text.br,.identidade .title.br, .mobile-buttom.br,.versoes .mobile-arrow-text.right-mobile.br,.versoes .mobile-arrow-text.left-mobile.br,.identidade .saiba-mais.br{
		display: none;
	}
	

}