.fatos{top:100%;}
.fatos-content{position:absolute;left:-640px;overflow:hidden;width:1280px;height:100%;margin-left:50%;}
.fatos .title{position:absolute;top:0px;left:40px;width:100%;height:100px;font-family:'vw_headextrabold';font-size:64px;}

.fatos .bar{position:absolute;top:85px;left:40px;width:1200px;border-bottom:2px solid #fff;}
.fatos .arrow{
    position: absolute;
    top: 50%;
    visibility: visible;
    width: 64px;
    height: 192px;
    cursor: pointer;
    -webkit-transform: translate(0px,-96px);
       -moz-transform: translate(0px,-96px);
        -ms-transform: translate(0px,-96px);
         -o-transform: translate(0px,-96px);
            transform: translate(0px,-96px);
    opacity: 1;
    background-size: 1000% 333%;
}

.fatos .left-arrow{background-position:0% -800%;left:15px;}
.fatos .left-arrow:hover{background-position:-100% -800%;}
.fatos .right-arrow{background-position:-200% -800%;right:15px;}
.fatos .right-arrow:hover{background-position:-300% -800%;}
.fatos .frame{
    position: absolute;
    top: 105px;
    bottom: 50px;
    left: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.fatos .main-text{position:absolute;top:40px;width:100%;text-align:center;font-family:'vw_textregular';font-size:22px;letter-spacing: 7px;color:#00a3e2;}
.fatos .sub-text{position:absolute;top:105px;left:20%;width:60%;text-align:center;font-family:'vw_headregular';font-size:18px;}
.fatos .middle-bar{position:absolute;top:185px;width:100px;margin-left:50%;left:-50px;border-bottom:2px solid #fff;}
.fatos .buttons{position:absolute;width:100%;height:100%;top:50%;transform:translate(0px,-100px);}
.fatos .fatos-buttom{position:absolute;width:141px;height:170px;top:50px;cursor:pointer;}
.fatos .suspensao{left:-470px;margin-left:50%;}
.fatos .desempenho{top:150px;left:-270px;margin-left:50%;}
.fatos .abs{left:-70px;margin-left:50%;}
.fatos .hdc{top:150px;left:130px;margin-left:50%;}
.fatos .eds{left:330px;margin-left:50%;}
.fatos .icon{width:141px;height:140px;background-size:100% 100%;}
.fatos .fatos-buttom .texto{
    font-family: 'vw_headbold';
    position: absolute;
    bottom: 0;
    left: -150px;
    width: 300px;
    margin-left: 50%;
    text-align: center;
}

.fatos .fatos-buttom .texto span{color:#00a3e2;}
.fatos .texto{position:absolute;font-family:'vw_headregular';line-height:25px;}
.fatos .super-title{font-family:'vw_headbold';font-size:18px;}


.fatos .frame .frame-title{
        position: absolute;
    right: 40px;
    top: -150px;
    font-family: 'vw_headbold';
    font-size: 40px;
    line-height: 179px;
}

.fatos .frame .frame-title > span{
    font-family: 'vw_headextrabold';
    font-size: 90px;
    color: #222222;
    position: relative;
    top: 13px;
    line-height: 90px;
}

.media-test{
    position: absolute;
    width: 200px;
    height: 200px;
    top:200px;
    left:200px;
    /*background-color: #f00;*/
}

.fatos .car-image,.fatos .grid{
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
@media screen and (max-aspect-ratio: 7/4) {
    .fatos .car-image,.fatos .grid{width:100%;height:70%;left:0%;}
    .fatos .frame .texto:nth-child(4){bottom:110px;left:20%;width:60%;}
    .fatos .frame2 .texto:nth-child(4){bottom:25px;}
    .fatos .frame3 .texto:nth-child(4){bottom:90px;}
    .fatos .frame4 .texto:nth-child(4){bottom:0px;}
    .fatos .frame5 .texto:nth-child(4){bottom:25px;}
    .fatos .frame .texto:nth-child(5){bottom:0%;left:20%;width:60%;}
}
@media screen and (max-aspect-ratio: 7/4) and (min-width:960px) and (max-width:1280px){
    .fatos .frame .texto:nth-child(4){left:10%;width:80%;}
    .fatos .frame .texto:nth-child(5){left:10%;width:80%;}
    .fatos .frame1 .texto:nth-child(4){bottom:115px;}
    .fatos .frame1 .texto:nth-child(5){bottom:0px;}
    .fatos .frame2 .texto:nth-child(4){bottom:45px;}
    .fatos .frame3 .texto:nth-child(4){bottom:130px;}
    .fatos .frame3 .texto:nth-child(5){bottom:30px;}
}

@media screen and (min-aspect-ratio:7/4){
    .fatos .car-image,.fatos .grid{width:45%;left:7%;}
    .fatos .frame .texto:nth-child(4){left:55%;width:35%;}
    .fatos .frame .texto:nth-child(5){left:55%;width:35%;}
    .fatos .frame1 .texto:nth-child(4){top: 50%;transform: translate(0px,-120px);}
    .fatos .frame1 .texto:nth-child(5){top: 50%;transform: translate(0px,-30px);}
    .fatos .frame2 .texto:nth-child(4){top: 50%;transform: translate(0px,-100px);}
    .fatos .frame3 .texto:nth-child(4){top: 50%;transform: translate(0px,-110px);}
    .fatos .frame3 .texto:nth-child(5){top: 50%;transform: translate(0px,-10px);}
    .fatos .frame4 .texto:nth-child(4){top: 50%;transform: translate(0px,-100px);}
    .fatos .frame5 .texto:nth-child(4){top: 50%;transform: translate(0px,-100px);}
}
@media screen and (min-aspect-ratio: 7/4) and (min-width:960px) and (max-width:1280px){
    .fatos .frame1 .texto:nth-child(4){top: 50%;transform: translate(0px,-200px);}
    .fatos .frame1 .texto:nth-child(5){top: 50%;transform: translate(0px,-85px);}
    .fatos .frame2 .texto:nth-child(4){top: 50%;transform: translate(0px,-110px);}
    .fatos .frame3 .texto:nth-child(4){top: 50%;transform: translate(0px,-120px);}
    .fatos .frame3 .texto:nth-child(5){top: 50%;transform: translate(0px,-20px);}
    .fatos .frame4 .texto:nth-child(4){top: 50%;transform: translate(0px,-145px);}
    .fatos .frame5 .texto:nth-child(4){top: 50%;transform: translate(0px,-125px);}
}
@media screen and (max-height:950px){
	.fatos .middle-bar{display:none;}
}

/*Small*/
@media screen and (max-width:960px){
	.fatos-content{left:-250px;width:500px;}
    .fatos .title{font-size:32px;top:35px;}
	.fatos .main-text{width:400px;left:50px;top:20px;}
	.fatos .sub-text{width:500px;left:0px;top:100px;}
	.fatos .fatos-buttom{width:70px;height:100px;top:80px;}
	.fatos .icon{width:70px;height:70px;}
	.fatos .suspensao{left:-185px;margin-left:50%;}
	.fatos .desempenho{top:180px;left:-110px;margin-left:50%;}
	.fatos .abs{left:-35px;margin-left:50%;}
	.fatos .hdc{top:180px;left:35px;margin-left:50%;}
	.fatos .eds{left:110px;margin-left:50%;}
    .fatos .frame .frame-title {font-size: 22px;top: -140px;right:0px;}
    .fatos .frame .frame-title > span {font-size: 60px;}
    .fatos .middle-bar{top:220px;}
    .fatos .car-image,.fatos .grid{       
        top:0px;
        height: 50%;
        width: 80%;
        left:10%;
    }
    .fatos .frame .texto:nth-child(4){left:15%;width:70%;}
    .fatos .frame .texto:nth-child(5){left:15%;width:70%;}
    .fatos .frame1 .texto:nth-child(4){bottom:0px;top:45%;}
    .fatos .frame1 .texto:nth-child(5){bottom:0px;}
    .fatos .frame2 .texto:nth-child(4){top:50%;}
    .fatos .frame3 .texto:nth-child(4){top:50%;}
    .fatos .frame3 .texto:nth-child(5){top:65%;}
    .fatos .frame4 .texto:nth-child(4){top:50%;}
    .fatos .frame5 .texto:nth-child(4){top:50%;}
}

@media screen and (max-width:960px) and (max-height:950px){
    .fatos .frame1 .texto:nth-child(4){bottom:0px;top:60%;}
    .fatos .frame1 .texto:nth-child(5){display:none;}
}

/*Medium*/
@media screen and (min-width:960px) and (max-width:1280px){
	.fatos-content{left:-480px;width:960px;}
    .fatos .middle-bar{top:220px;}
    .fatos .fatos-buttom{width:70px;height:100px;top:80px;margin-left:50%;}
    .fatos .icon{width:70px;height:70px;}

	.fatos .suspensao{left:-275px;}
	.fatos .desempenho{top:130px;left:-155px;}
	.fatos .abs{left:-35px;}
	.fatos .hdc{top:130px;left:95px;}
	.fatos .eds{left:205px;}
    .fatos .frame .frame-title {right: 0px;}
}