
#premios_button{
    display:none;
}
.menu .primary .open{
    display: none;
}

.menu .secondary{
    display: none;
}
.down-arrow{
    display: none;
}
.robust-button{
    display: none;
}
.cross-button{
    display: none;
}

.versoes .up-bar .plus{
    display:none;
}

.versoes .right-arrow:hover{
    background-position: -200% -800%;
}
.versoes .left-arrow:hover{
    background-position: 0% -800%;
}

.versoes .title .sub-title{
    font-size: 38px;
}

.mobile-arrow{
    position: absolute;
    background-image: url('../img/large/tiles.png');
    margin-left: 50%;
    left:-128px;
    width: 256px;
    height: 128px;
    bottom: 25px;
    background-size: 500% 1000%;
    cursor: pointer;
    background-position: 0% -200%;
    bottom: 75px;
}

.mobile-arrow.up{
    background-position: 0% -700%;
}

.versoes .ruler .robust{top:-45px}
.versoes .ruler .trendline-cs{top:10px}
.versoes .ruler .trendline-cd{top:-45px}
.versoes .ruler .trendline-ce{top:10px}
.versoes .ruler .highline{top:-45px}
.versoes .ruler .cross-ce{top:10px}
.versoes .ruler .cross-cd{top:-45px}



@media only screen and (orientation:portrait) and (max-device-width: 750px){
    .versoes .ruler{
        bottom: 200px;
    }
    .home-content .car-logo{
        width: 800px;
        left:-150px;
    }
}


@media only screen and (orientation:landscape) and (max-device-width: 750px){
    .versoes .ruler{
        bottom: 65px;
    }
    .menu .primary .interessado{
        top:75px;
    }
    .menu .primary .interessado.versoes{
        top:0px;
    }

    .mobile-arrow{
        left:-64px;
        width: 128px;
        height: 64px;
        bottom: 5px;
    }
    .identidade_content{display:none;}
    .fatos{display:none;}
    .versoes_content .container{top:75px;}
}


