/*Default*/
.tour_desktop{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.tour_desktop .tour_principal{
  position: absolute;
  height: 100%;
  margin-left: 50%;
  left:-640px;
  width: 1280px;
}
.tour_mobile{
  display: none;
}
.tour_principal{
  top:100%;
}
.tour_title{
    font-family: 'vw_textregular';
    font-size: 22px;
    position: absolute;
    top: 60px;
    width: 1280px;
    text-align: center;
    letter-spacing: 10px;
    color:#00a3e2;
}
.tour_description{
    font-family: 'vw_textlight';
    font-size: 16px;
    position: absolute;
    top: 110px;
    left: -400px;
    width: 800px;
    margin-left: 50%;
    text-align: center;
}
.tour_cars{
    position: absolute;
    top: 180px;
    bottom: 100px;
    width: 100%;
}

.tour_cars > div{
    position: absolute;
    width: 50%;
    height: 100%;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.tour_left_car{
    left: 0px;
}
.tour_right_car{
    right: 0px;
}
.tour_down_bar{
    position: absolute;
    bottom: 100px;
    left: -200px;
    width: 400px;
    margin-left: 50%;
    border-bottom: 1px solid #fff;
}
.tour_sequence{
  position: absolute;
  width: 100%;
  height: 100%;
  top:100%;
}
.tour_sequence .trabalho_sequence.from-side,.tour_sequence .aventura_sequence.from-side{
  left:0%;
}

.tour_sequence .tour_car_container_sequence{
  position: absolute;
  width: 100%;
  height: 100%;
}
.tour_sequence .tour_car_container_sequence .tour_car_sequence,.tour_sequence .tour_car_container_sequence .tour-vinheta{
  position: absolute;
  width: 100%;
  height: 100%;
}

.tour_car_sequence{
  overflow: hidden;
}
.tour_sequence .trabalho_sequence{left:-100%;}
.tour_sequence .aventura_sequence{left:100%;}
.tour_car_sequence > div{
  position: absolute;
  left:100%;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tour_sequence .tour-vinheta{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.tour_sequence .back{
  position: absolute;
  height: 64px;
  width:64px;
  margin-left: 50%;
  top:20px;
  left:550px;
  background-size: 1000% 1000%;
  background-position: -500% -200%;
  cursor: pointer;
}

.tour-slider{
  position: absolute;
  margin-left:50%;
  left:-400px;
  bottom:100px;
  width:800px;
  height:64px;
  visibility: hidden;
  opacity:0;
}
.show-slider{
  visibility: visible;
  opacity:1;
  z-index: 5;
}

.tour-slider-transition{
  -webkit-transition: visibility 0s, opacity 0s linear 700ms;
   -moz-transition: visibility 0s, opacity 0s linear 700ms;
     -o-transition: visibility 0s, opacity 0s linear 700ms;
        transition: visibility 0s, opacity 0s linear 700ms;
}

.tour-slider .bar{
  position: absolute;
  height: 25px;
  top: 19px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 25px;
  font-family: 'vw_textregular_italic';
  font-size: 10px;
  letter-spacing: 2px;
}
.tour-slider .externo{
  width: 560px;
  left: 60px;
}
.tour-slider .interno{
  width: 120px;
  left:620px;
}
.tour-slider .handle{
  position: absolute;
  height: 64px;
  width: 64px;
  left:42px;
  background-position: -800% 0%;
  background-size: 1000% 1000%;
  cursor: pointer
}

/*Small*/
@media screen and (max-width: 960px){
  .tour_desktop .tour_principal{left:-250px;width:500px;}
  .tour_title{
      font-size: 14px;
      top: 40px;
      width: 100%;
      min-width: 500px;
      letter-spacing: 7px;
  }
  .tour_description{
      font-size: 16px;
      top: 70px;
      left: -250px;
      width: 500px;
  }
  .tour_cars{top:130px;}
  .tour_down_bar{left:-100px;width:200px;}
  .tour_sequence .back{left:190px;}
}
/*Medium*/
@media screen and (min-width: 960px) and (max-width: 1280px){
  .tour_desktop .tour_principal{left:-480px;width:960px;}
  .tour_title{width:960px;top:40px;}
  .tour_description{top:90px;}
  .tour_cars{top:160px;}
  .tour_sequence .back{left:420px;}
}

/*Mobile portrait*/
@media screen and (orientation:portrait) and (max-device-width: 500px){
  .tour_desktop{display: none;}
  .tour_mobile{
    position: absolute;
    display: inline;
    background-color: #000;
    width: 100%;
    height: 100%;
  }
  .tour_mobile > div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }
  .tour_mobile_externo_trabalho{
  }
  .tour_mobile_externo_aventura{
    display: none;
  }
  .tour_mobile_arrow{
    position: absolute;
    margin-left: 50%;
    width: 200px;
    height: 50px;
    left:-100px;
    top:400px;
    font-size: 40px;
    border: 1px solid #fff;
  }
  .tour_mobile_botao_interno{
    position: absolute;
    margin-left: 50%;
    width: 200px;
    height: 50px;
    left:-100px;
    top:900px;
    font-size: 40px;
    border: 1px solid #fff;
  }

}
/*Mobile landscape*/
@media screen and (orientation:landscape) and (max-device-width: 500px){

}