.versoes{top:100%;}
.versoes_content{
    position: absolute;
    left: -640px;
    overflow: hidden;
    width: 1280px;
    top:0px;
    bottom: 0px;
    margin-left: 50%;
}
.versoes .car{
    position: absolute;
    left: 100%;
    width: 100%;
    height: 100%;
}
.versoes .title{
    position: absolute;
    left: 40px;
    width: 100%;
    height: 100px;
    transform:translate(0px,20px);
}

.versoes .title .main-title{font-family:'vw_headextrabold';font-size:64px;}
.versoes .title .sub-title{
    font-family: 'vw_headregular_italic';
    font-size: 44px;
    color: #717171;
}
.versoes .up-bar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
}
.versoes .bar{
    position: absolute;
    top: 100px;
    right: 85px;
    left: 41px;
    height: 0;
    border-bottom: 2px solid #fff;
}

.versoes .plus{
  position: absolute;
  height: 64px;
  width: 64px;
  right: 27px;
  top:70px;
  background-size: 1000% 1000%;
  background-position: -900% 0%;
  cursor: pointer;
}
.versoes .arrow{
    position: absolute;
    top: 50%;
    width: 64px;
    height: 192px;
    cursor: pointer;
    -webkit-transform: translate(0px,-96px);
       -moz-transform: translate(0px,-96px);
        -ms-transform: translate(0px,-96px);
         -o-transform: translate(0px,-96px);
            transform: translate(0px,-96px);
    background-size: 1000% 333%;
    visibility: visible;
    opacity: 1;
}
.versoes .left-arrow{background-position:0% -800%;left:15px;}
.versoes .left-arrow:hover{background-position:-100% -800%;}
.versoes .right-arrow{background-position:-200% -800%;right:15px;}
.versoes .right-arrow:hover{background-position:-300% -800%;}
.versoes .container{
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 40px;
    overflow: hidden;
    width: 1200px;
}
.versoes .up-car{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}
.versoes .versoes_content .image-car{
    position: absolute;
    top: 0;
    bottom: 80px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
}

.versoes .ruler{
    position: absolute;
    margin-left: 50%;
    left:-320px;
    width: 640px;
    height: 64px;
    bottom: 80px;
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}
.versoes .ruler .trail{
    position: absolute;
    margin-left: 50%;
    left:-270px;
    width: 540px;
    top:25px;
    height: 14px;
}
.versoes .ruler .trail-line{
  position: absolute;
  top:0px;
  height: 6px;
  width: 100%;
  border-bottom: 2px solid #fff;
}
.versoes .ruler .handle{
  position: absolute;
  top:0px;
  height: 64px;
  width: 64px;
  left:19px;
  background-size: 1000% 1000%;
  background-position: -800% 0%;
}

.versoes .ruler .trail-subdivisions{
  position: absolute;
  width: 100%;
  height: 100%;
  border-right: 1px solid #fff;
}

.versoes .ruler .trail-subdivisions > div{
    width: 89px;
    height: 100%;
    border-left: 1px solid #fff;
    float:left;
}
.versoes .ruler .car-name{
    font-family: 'vw_headregular_italic';
    font-size: 12px;
    position: absolute;
}
.versoes .ruler .robust{top:-22px;left:-28px;}
.versoes .ruler .trendline-cs{top:22px;left:61px;}
.versoes .ruler .trendline-cd{top:-22px;left:141px;}
.versoes .ruler .trendline-ce{top:22px;left:237px;}
.versoes .ruler .highline{top:-22px;left:337px;}
.versoes .ruler .cross-ce{top:22px;left:427px;}
.versoes .ruler .cross-cd{top:-22px;left:516px;width: 60px;}



.versoes .ruler .image-trabalho{
   background-position: -800% -100%;
   left:-40px;
   top:-10px;
}

.versoes .ruler .image-aventura{
   background-position: -900% -100%;
   right:-40px;
   top:-10px;
}

.versoes .ruler .texto-trabalho{
    position: absolute;
    width: 100px;
    height: 40px;
    left: -141px;
    top: 5px;
    font-family: 'vw_headextrabold';
    font-size: 13px;
    color: #6e6e6e;
    text-align: right;
    letter-spacing: 3px;
}
.versoes .ruler .texto-aventura{
    position: absolute;
    width: 110px;
    height: 40px;
    right: -153px;
    top: 5px;
    font-family: 'vw_headextrabold';
    font-size: 13px;
    color: #6e6e6e;
    text-align: left;
    letter-spacing: 3px;
}

.versoes .down-car{
    position: absolute;
    top: 100%;
    width: 100%;
    height: 100%;
}

.versoes .description-main-container{
    position: absolute;
    top:25px;
    bottom:175px;
    width: 80%;
    left:10%;
    overflow-y: scroll;
}

.versoes .down-car .images-car{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 206px;
}
.versoes .down-car .images-car > div{
    position: absolute;
    width: 32%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.versoes .down-car .images-car .image-left-car{left:1%;}
.versoes .down-car .images-car .image-middle-car{left:34%;}
.versoes .down-car .images-car .image-right-car{left:67%;}
.versoes .descriptions{
    position: absolute;
    top: 235px;
    bottom: 150px;
    width: 100%;
}
.versoes .description-container{
    position: absolute;
    left: 1%;
    width: 98%;
}
.versoes .description-container .description-switch{
    position: absolute;
    top: -7px;
    right: 0;
    width: 64px;
    height: 64px;
    cursor: pointer;
    background-position: -400% -200%;
    background-size: 1000% 1000%;
}

/*
.versoes .description-container.itens{top:0px;}
.versoes .description-container.itens.open{top:0px;bottom:100px;}
.versoes .description-container.cores{bottom:50px;}
.versoes .description-container.cores.open{top:100px;bottom:0px;}
.versoes .description-container.opcionais.closed-serie{height:50px;bottom:50px;}
.versoes .description-container.opcionais.closed-cores{top:50px;height:50px;}
.versoes .description-container.opcionais.open{top:50px;bottom:50px;}
*/


.versoes .description-container.itens{top:0px;}
.versoes .description-container.opcionais{top:50px;}
.versoes .description-container.opcionais.top{top:200px;}
.versoes .description-container.cores{top:100px;}
.versoes .description-container.cores.top-1{top:250px;}
.versoes .description-container.cores.top-2{top:400px;}


.versoes .description-container.open .description-switch{background-position: -600% -200%;}

.versoes .description-title{
    position: absolute;
    width: 100%;
    height: 50px;
    cursor: pointer;
}
.versoes .description-title > div{
    position: absolute;
    top: 4px;
    left: -1px;
    width: 100%;
    height: 42px;
    font-family: 'vw_headbold';
    line-height: 42px;
    font-size: 15px;
    letter-spacing: 3px;
    border: 1px solid #717171;
}
.versoes .description-body{
    position: absolute;
    top: 50px;
    bottom: 0;
    overflow: hidden;
    overflow-y: scroll; 
    width: 100%;
}
.versoes .description-container.open .description-body{
    top: 54px;
    height: 145px;
    left: -1px;
}

.versoes .description-container.cores.open .description-body{
    height: 100px;
    overflow-y: hidden;
}

.versoes .description-body .description-left{
    position: absolute;
    font-family: 'vw_textregular';
    font-size: 13px;
    line-height: 26px;
    width: 50%;
}
.versoes .description-body .description-right{
    position: absolute;
    font-family: 'vw_textregular';
    font-size: 13px;
    line-height: 26px;
    width: 50%;
    left:50%;
}
.versoes .description-body .description-center{
    position: absolute;
    font-family: 'vw_textregular';
    font-size: 13px;
    line-height: 26px;
    width: 95%;
}
.versoes .description-body .description-center span{font-family: 'vw_textbold';}


.versoes .description-body ul{
    margin: 8px 0px;
}
.versoes .interessado{
    font-family: 'vw_headregular';
    line-height: 50px;
    position: absolute;
    bottom: 85px;
    left: -125px;
    width: 250px;
    height: 50px;
    margin-left: 50%;
    cursor: pointer;
    text-align: center;
    letter-spacing: 3px;
    border: 2px solid #fff;
}
.versoes .interessado:hover{
    color: #00a4e3;
    border: 2px solid #00a4e3;
}

.versoes .versoes_content.on-description .ruler{visibility: hidden;opacity:0;}
.versoes .versoes_content.on-description .arrow{visibility: hidden;opacity:0;}
.versoes .versoes_content.on-description .up-car{top:-100%;}
.versoes .versoes_content.on-description .down-car{top:0%;}
.versoes .versoes_content.on-description .plus{background-position: -500% -200%;}
.display-transition{
  -webkit-transition: visibility 0s, opacity 0s linear 700ms;
   -moz-transition: visibility 0s, opacity 0s linear 700ms;
     -o-transition: visibility 0s, opacity 0s linear 700ms;
        transition: visibility 0s, opacity 0s linear 700ms;
}
.versoes .cores-description{position:absolute;width:100%;min-height:100px;}
.versoes .cores-description > div{position:absolute;height:100%;}
.versoes .cores-description.cores-simples > div{width:49%;}
.versoes .cores-description.cores-complexas .cores-solidas{width:38%;}
.versoes .cores-description.cores-complexas .cores-metalizadas{width:48%;}
.versoes .cores-description.cores-complexas .cores-especiais{width:11%;}
.versoes .cores-simples .cores-metalizadas{left:51%;}
.versoes .cores-complexas .cores-metalizadas{left:39%;}
.versoes .cores-complexas .cores-especiais{left:88%;}
.versoes .cores-title{
    font-family: 'vw_headbold';
    font-size: 12px;
    line-height: 29px;
    position: absolute;
    width: 100%;
    height: 30px;
    text-align: center;
    letter-spacing: 2px;
    border-bottom: 1px solid #fff;
}
.versoes .cores-description .cores-img{
    position: absolute;
    top: 37px;
    width: 100%;
    height: 30px;
    background-size: 100% 100%;
}
.versoes .mobile-buttom{display:none;}
.versoes .mobile-arrow-text{display:none;}
.versoes .descriptions-mobile{display:none;}
/*Small*/
@media screen and (max-width: 1050px){
    .versoes_content{left:-50%;width:100%;min-width:560px;top:40px;}
    .versoes .container{left:10%;width:80%;}
    .versoes .down-car .images-car{height:130px;}
    .versoes .down-car .descriptions{top:155px;}
    .versoes .title .main-title{font-size:44px;}
    .versoes .title .sub-title{font-size: 24px;}
    .versoes .bar{top:75px;}
    .versoes .plus{top:45px;}
    .versoes .ruler{left:-220px;width:440px;}
    .versoes .ruler .trail{left:-168px;width:336px;}
    .versoes .ruler .trail-subdivisions > div{width:55px;}
    .versoes .ruler .handle{left:21px;}
    .versoes .ruler .robust{left:-28px;}
    .versoes .ruler .trendline-cs{left:20px;}
    .versoes .ruler .trendline-cd{left:75px;}
    .versoes .ruler .trendline-ce{left:134px;}
    .versoes .ruler .highline{left:198px;}
    .versoes .ruler .cross-ce{left:257px;}
    .versoes .ruler .cross-cd{left:316px;}
}

/*Medium*/
@media screen and (min-width: 1050px) and (max-width: 1450px){
    .versoes_content{left:-480px;width:960px;}
    .versoes .container{left:30px;width:900px;}
    .versoes .down-car .images-car{height:175px;}
    .versoes .descriptions{top:210px;}
}
/*Mobiles*/
@media only screen and (max-device-width: 750px){
    .versoes .ruler{display: none;}
    .versoes .up-bar{display: none;}
    .versoes .container{top: 0px;left:-5%;width:110%;}
    .versoes .mobile-buttom{
        position: absolute;
        display:inline;
        width:250px;
        height: 65px;
        line-height: 65px;
        text-align: center;
        border: 2px solid #00a4e3;
        bottom: 175px;
        color:#00a4e3;
    }
    .versoes .description-left{display:none;}
    .versoes .description-right{display:none;}
    .versoes .description-center{display:none;}
    .versoes .mobile-buttom.ficha-buttom{left:45px;width:330px;}
    .versoes .mobile-buttom.opcionais-buttom{left:405px;width:260px;}
    .versoes .mobile-buttom.cores-buttom{left:693px;width:247px;}
    .versoes .left-arrow{background-position:-100% -800%;}
    .versoes .right-arrow{background-position:-300% -800%;}
    .versoes .left-arrow{display:none;}
    .versoes .mobile-arrow-text.right-mobile{display:inline;}
    .versoes .descriptions-mobile{
        position: absolute;
        width: 930px;
        left:25px;
        top:0px;
        bottom: 25px;
        background-color:#161616;
        z-index:1;
        display: none;
    }
    .versoes .descriptions-mobile .itens{display: none;}
    .versoes .descriptions-mobile .opcionais{display: none;}
    .versoes .descriptions-mobile .cores{display: none;}
    .versoes .descriptions-mobile.show{display: inline;}
    .versoes .descriptions-mobile .itens.show{display: inline;}
    .versoes .descriptions-mobile .opcionais.show{display: inline;}
    .versoes .descriptions-mobile .cores.show{display: inline;}
    .versoes .close{background-position:-700% -200%;}
    .versoes .descriptions-mobile .mobile-content{
        position: absolute;
        width: 100%;
        top:0px;
    }
}
/*Mobile portrait*/
@media only screen and (orientation:portrait) and (max-device-width: 750px){
    .versoes .left-arrow,.versoes .right-arrow{top:80px;}
    .versoes .title{bottom: 250px;transform:translate(0px,0px);}
    .versoes .title .main-title{font-size: 76px;}
    .versoes .title .sub-title{font-size: 48px;}
    .versoes .mobile-arrow-text{
        position: absolute;
        top:47px;
        text-align:center;
        height:100px;
        font-family: 'vw_headbold';
        color: #00a4e3;
        font-size: 26px;
        line-height: 32px;
    }
    .versoes .mobile-arrow-text.left-mobile{left:80px;width: 160px;}
    .versoes .mobile-arrow-text.right-mobile{right:80px;width: 200px;}
    .versoes .close{top:25px;right:25px;width:96px;height: 96px;}
   
    .versoes .descriptions-mobile .mobile-container{
        position: absolute;
        
        top:146px;
        bottom: 50px;
        width: 90%;
        left:5%;
        overflow: hidden;
    }
     .versoes .descriptions-mobile .mobile-title{
        position: absolute;
        font-size: 50px;
        color: #00a4e3;
        line-height: 146px;
        letter-spacing: 5px;
        left:50px;
    }
    .versoes .descriptions-mobile .mobile-cores-title{
        position: absolute;
        height: 50px;
        width: 100%;
        font-family: 'vw_textbold';
        font-size: 38px;
        letter-spacing: 2px;
        border-bottom: 2px solid #fff;
    }
    .versoes .descriptions-mobile .mobile-cores-title.solidas-title{top:0px;}
    .versoes .descriptions-mobile .mobile-cores-title.metalizadas-title{top:250px;}
    .versoes .descriptions-mobile .mobile-cores-title.especias-title{top:500px;}

    .versoes .descriptions-mobile .mobile-cores-block{
        position: absolute;
        height: 120px;
        width: 100%;
        
    }
    .versoes .descriptions-mobile .mobile-cores-block.solidas-block{top:80px;}
    .versoes .descriptions-mobile .mobile-cores-block.metalizadas-block{top:330px;}
    .versoes .descriptions-mobile .mobile-cores-block.especias-block{top:580px;}

    .versoes .descriptions-mobile .mobile-cor{
        position: absolute;
        width: 240px;
        height: 100%;
        background-image: url(../img/large/cores.png);
        background-size: 3840px 100%;
    
    }
    .versoes .descriptions-mobile .mobile-cor div{
        position: absolute;
        height: 50%;
        width: 100%;
        bottom: 0px;
        line-height: 60px;
        font-size: 24px;
        font-family: 'vw_headbold';
        text-align: center;
    }
    .versoes .descriptions-mobile .mobile-cor.mobile-branco-cristal{background-position: -240px 0px;color:#000;}
    .versoes .descriptions-mobile .mobile-cor.mobile-preto-ninja{left:298px; background-position: -720px 0px;}
    .versoes .descriptions-mobile .mobile-cor.mobile-vermelho-flash{left:597px; background-position: -1100px 0px;}

    .versoes .descriptions-mobile .mobile-cor.mobile-prata-sirius{background-position: -1480px 0px;color:#000;}
    .versoes .descriptions-mobile .mobile-cor.mobile-azul-night{left:298px; background-position: -2160px 0px;}
    .versoes .descriptions-mobile .mobile-cor.mobile-cinza-platinum{left:597px; background-position: -2640px 0px;}
    
    .versoes .descriptions-mobile .mobile-cor.mobile-azul-ravena{background-position: -3120px 0px;}
    .versoes .descriptions-mobile .mobile-cor.mobile-laranja-canyon{left:298px; background-position: -3600px 0px;}

}

/*Mobile landscape*/
@media only screen and (orientation:landscape) and (max-device-width: 750px){
  
}